/*.vagueJs{*/
/*	width: 150px;*/
/*	height: 150px;*/
/*	background-color: orange;*/
/*	transition: .5s;*/
/*	z-index: 10;*/
/*}*/
body{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	min-height: 300vh;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
header{
	background-color: transparent;
	height: 180vh;
	display: flex;
	flex-direction: column;
}
main{
	background-color: #0B87AB;
	min-height: 150vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

footer{
	min-height: 50vh;
	display: flex;
	flex-direction: column;
}

/*Section du bateau et du ciel */
#headerSec1{
	background-color: #0ABDC4;
	height: 40%;
	display: flex;
	flex-direction: column;
}
/*Contient, ciel, bateau, montagne, oiseaux*/
#contentCiel{
	background-color: #B6E0DE;
	height: 70%;
	display: flex;
	justify-content: space-around;
}
#montange{
	background-color: #B6E0DE;
	width: 30%;
	height: 100%;
	display: flex;
	flex-direction: column-reverse;
}

#bateaux{
	height: 100%;
	width: 80%;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	position: relative;
	z-index: 0;
	animation: navir 5s infinite;
}

#bateaux img{
	width: 50%;
}
@keyframes  navir{
	0%{
		transform: translateX(0);
	}
	30%{
		transform: translateX(50px) rotate(-10deg);

	}
	60%{
		transform: translateX(-50px) rotate(10deg);

	}
	100%{
		transform: translateX(0) rotate(0);

	}
}
#oiseaux img{
	width: 100%;
}

#oiseaux{
	background-color: #B6E0DE;
	height: 100%;
	width: 10%;
}
/*Contient 3 vague*/
#contentVague{
	position: relative;
	height: 20%;
	background-color: #0ABDC4;
}
.vague1{
	position: absolute;
	top: -90px;
	width: 100%;
	z-index: 2;
	transform: translateX(-150%);
	animation: vague 7s;
}

@keyframes vague {
	to{
		transform: translateX(150%);
	}
}
#vague1{
	position: absolute;
	top: -90px;
	width: 100%;
	z-index: 2;
}
#vague2{
	position: absolute;
	top: -90px;
	width: 100%;
	z-index: 5;
}
#vague3{
	position: absolute;
	top: -55px;
	width: 100%;
	z-index: 5;
}

/*vague de poissons plus info bulle*/
#headerSec2{
	height: 60%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#contentPoissons{
	transition: 4s;
	height: 70%;
	background-color: #0ABDC4;
	display: flex;
	flex-direction: column-reverse;
	position: relative;
	align-items: center;
}

#poissons{
	 transition: 4s;
	 height: 100%;
	 z-index: 4;
	 width: 2400px;
	 bottom: 0;
	 position: absolute;
 }
#poissons2{
	transition: 5s;
}
#poissons3{
	position: absolute;
	left: 600px;
	transition: 5s;

}
#contentPoisson{
	height: 30%;
	background-color: #0ABDC4;
	transition: 4s;
}
#svgPoisson1{
	width: 100%;
	height: 70%;
}
/*Main, Contient le poule, le bois  et les bras de poulpes*/
#contentPoulpe{
	/*background-color: #0B87AB;*/
	transition: 4s;
	background-color: #0ABDC4;
	height: 50%;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
}
#contentPoulpe img{
	width: 90%;
}
#contentBois{
	height: 80vh;
	transition: 4s;
	background-color: #0B87AB;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
}
#contentBois img{
	width: 60%;
}
#contentBras{
	background-color: #264B84;
	height: 20%;
	transition: 4s;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
}
#contentBras img {
	width: 100%;
}/*Footer titre plus vague 1, 2 et 3 */
#footerTitre{
	background-color: #373678;
	height: 10%;
	text-align: center;
}
#footerVague1{
	background-color: #373678;
	height: 30%;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
}
#footerVague2 {
	background-color: midnightblue;
	height: 30%;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
}
#footerVague3{
	background-color: slateblue;
	height: 30%;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
}

